:root {
  --main-bg: #fff8fb;
  --sidebar-bg: #ffeef6;
  --card-bg: #ffffff;
  --text-color: #4a4a4a;

  --link-color: #ff7aa2;
  --link-hover-color: #ff4f88;

  --btn-primary-bg: #ff7aa2;
  --btn-primary-border: #ff7aa2;

  --heading-color: #d63384;
}

body {
  font-family: "Nunito", "Helvetica Neue", sans-serif;
}
